/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.box {
    width: 300px;
    height: 300px;
    background: #fff;
}

.body {
    margin: 0px;
}


.paneImage
{
    -fx-background-image: url("cloud.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 30% 70%;
}

.button-git
{
    -fx-background-color:  #20B2AA;
    -fx-background-position: center;
    -fx-position: right;
    -fx-background- margin-left: auto;
    -fx-background-margin-right: auto;
    -fx-left: 100px;
    -fx-right: 100px;
    -fx-background-size: 30% 70%;
}

.button-git:hover
{
    -fx-background-color:  #008080;
}

.custom-dashed-border {
    -fx-border-radius: 30;
    -fx-border-color: #20B2AA;
    -fx-border-width: 1 ;
    -fx-background-radius: 30;
    -fx-background-size: 100% 100%;
    -fx-border-style: segments(5, 5, 5, 5)  line-cap round;

}


